.expenses{
   padding: 1rem;
   background-color: black;
   margin: 1rem auto;
   max-width:95%;
}

.noFilteredDataFound{
   color: red;
   padding: 10px;
   border: 1px solid white;
   border-radius: 12px;
   text-align: center;
}